.gallery{
 
  list-style: none;
  margin: 0 auto;
  padding-inline-start: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;


  max-width: 1128px; 
}

.sl-wrapper {
    background-color: rgba(46, 47, 66, 0.8);
    color: white;
  font-weight: 400;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.04em;
}

.sl-wrapper.sl-close {
    width:32px;
    height:32px;
    
    }