.gallery{
  list-style: none;
  margin: 0 auto;
  padding-inline-start: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  width: 1128px; 
}
.gallery .gallery-item{
  cursor: pointer;
  flex: 0 1 calc((100% - 48px) / 3); 
}
.gallery .gallery-image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.sl-wrapper {
    background-color: rgba(46, 47, 66, 0.8);
    color: white;
  
}

.sl-wrapper.sl-close {
    width:32px;
    height:32px;
    
    }