.feedback-form{
box-sizing: border-box;
display: flex;
flex-direction: column;
margin: 0 auto;
gap: 16px;
padding: 24px;
width: 408px;
height: 296px;
background-color: #fff;
}
.feedback-form div{
display: flex;
margin: 0;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 8px;
width: 360px;
}
.feedback-form div label{ 
width: 360px;
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 8px;
color: #2e2f42;

}
.feedback-form div label input,
.feedback-form div label textarea{
  width: 359px;
  border: 1 px solid #808080;
  border-radius: 4px;
}
.feedback-form div label input:hover,
.feedback-form div label textarea:hover{
  border: 1 px black;
}

.feedback-form button{
 outline:none;
border-radius: 8px;
padding: 8px 16px;
width: 95px;
height: 40px;
background-color: #4e75ff;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
text-align: center;
justify-content: center;

}
.feedback-form button:active{
  background-color: #6c8cff;
}