.feedback-form{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
margin: 0 auto;
gap: 16px;
border-radius: 8px;
padding: 24px;
width: 408px;
height: 296px;
background-color: #fff;
}
.form-container{
display: flex;
margin: 0;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 8px;
width: 360px;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #2e2f42;
}
.form-label{
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 8px;
}
.form-btn{
border-radius: 8px;
padding: 8px 16px;
width: 95px;
height: 40px;
background-color: #4e75ff;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;

}